body {
  font-family: Georgia;
  font-size: 16px;
  margin: 0 auto;   /* center content */
  max-width: 800px; /* limit width */
  line-height: 1.5;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* BEGIN (write your solution here) */
h1 h2 h3 {
    font-weight: 400;
}

h1 {
    font-size: 36px;
    margin-bottom: 0;
}

h2 {
    font-size: 32px;
    border-bottom: 1px gray;
    margin-bottom: 8px;
}

h3 {
    font-size: 20px;
    margin-bottom: 0;
}

p {
    margin-bottom: 12px;
}

#header {
    text-align: center;
    margin-bottom: 32px;
}

#footer {
    text-align: center;
    margin-top: 64px;    
}
/* END */
